<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Buat Rekrutmen Terbuka</title>
</head>
<body>
    <!--  Navbar Start -->
    <div th:replace="~{fragments/navbar :: navbar-rekruit}"></div>
    <!-- Navbar Ends -->
    <section class="section">
        <div class="container">
          <h1 class="title">
            Ubah Rekrutmen Terbuka
          </h1>
          <div class="columns is-vcentered">
            <div class="column is-half">
              <p hidden id="idRekruitmen" th:text="${idRekruitmen}" class="align-content-center"></p>
              <!-- Nama Rekrutmen Terbuka -->
              <div class="field">
                <label class="label is-small">Nama Rerkrutmen Terbuka</label>
                <div class="control">
                  <input class="input is-small" id="judul" type="text" placeholder="Open Tender Komite Pengawas Pemira IKM UI 2021">
                </div>
              </div>
              <!--  -->
            </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
              <button id="deleteButton" class="button is-danger is-small">Hapus Rekrutmen Terbuka</button>
            </div>              
          </div>
          <div class="columns is-multiline">
            <div class="column is-half">
              <!-- Start Date -->
              <div class="field">
                <label class="label is-small">Start Date Registrasi</label>
                <div class="control">
                  <input class="input is-small" id="startDateRegistrasi" type="date">
                </div>
              </div>
              <!--  -->
            </div>
            <div class="column is-one-quarter">
              <!-- Deskripsi Tugas -->
              <div class="field">
                <label class="label is-small">Deskripsi Tugas</label>
                <div class="control">
                  <input class="input is-small" id="deskripsiTugas" type="text">
                </div>
              </div>
              <!--  -->
            </div>
          </div>
          <div class="columns is-multiline">
            <div class="column">
              <!-- Due Date Regis -->
              <div class="field">
                <label class="label is-small">Due Date Registrasi</label>
                <div class="control">
                  <input class="input is-small" id="dueDateRegistrasi" type="date">
                </div>
              </div>
              <!--  -->
            </div>
            <div class="column">
              <!-- Due Date Tugas  -->
              <div class="field">
                <label class="label is-small">Due Date Pengumpulan Tugas</label>
                <div class="control">
                  <input class="input is-small" id="dueDateTugas" type="date">
                </div>
              </div>
              <!--  -->
            </div>
          </div>
          <div class="columns is-multiline">
            <div class="column">
              <!-- Narahubung -->
              <div class="field">
                <label class="label is-small">Narahubung</label>
                <div class="control">
                  <input class="input is-small" id="narahubung" type="text" placeholder="+6287xxxxxxxx (Hange)">
                </div>
              </div>
              <!--  -->
            </div>
            <div class="column">
              <!-- Pranala Wawancara  -->
              <div class="field">
                <label class="label is-small">Pranala Sheets/Form Wawancara</label>
                <div class="control">
                  <input class="input is-small" id="linkWawancara" type="text" placeholder="http://docs/google.com/...">
                </div>
              </div>
              <!--  -->
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <!-- Deskripsi Rekrutmen Terbuka -->
              <div class="field">
                <label class="label is-small ">Deskripsi Rekrutmen Terbuka</label>
                <div class="control">
                  <textarea class="textarea is-small" id="deskripsiPekerjaan" placeholder=""></textarea>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <!-- Syarat Pendaftaran -->
              <div class="field">
                <label class="label is-small">Syarat Pendaftaran</label>
                <div class="control">
                  <textarea class="textarea is-small" id="syaratKetentuan" placeholder=""></textarea>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
          <!-- TODO: Implement AJAX to add new deskripsi from jumlah tugas -->
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a class="button is-light" href="#" onclick="javascript:window.history.back(-1);return false;">Batal</a>
            </p>
            <p class="control">
              <a id="buatRekruitmen" class="button is-primary">Ubah Rekruitmen</a>
            </p>
          </div>
        </div>
      </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/navbarState.js}"></script>
    <script type="text/javascript" th:src="@{/js/fetchRekruitmenByID.js}"></script>
    <script type="text/javascript" th:src="@{/js/updateRekruitmen.js}"></script>
    <script type="text/javascript" th:src="@{/js/deleteRekruitmen.js}"></script>
</body>
</html>