<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Buat Pengumuman</title>
</head>
<body>
  <!-- Component Navbar -->
  <div th:replace="~{fragments/navbar :: navbar-rekruit}"></div>
  <!--  -->
    <section class="section">
        <div class="container">
          <h1 class="title">
            Buat Pengumuman
          </h1>
          <div class="columns">
            <div class="column is-half">
              <!-- form Judul Pengumuman -->
              <div class="field">
                <p hidden id="idRekruitmen" th:text="${idRekruitmen}" class="align-content-center"></p>
                <label class="label is-small">Judul Pengumuman *:</label>
                <div class="control">
                  <input class="input is-small" id = "judul" type="text" placeholder="judul pengumuman">
                </div>
              </div>
            </div>
            <!--  -->
          </div>
          <div class="columns">
            <div class="column">
              <!-- form isi pengumuman -->
              <div class="field">
                <label class="label is-small">Isi Pengumuman*:</label>
                <div class="control">
                  <textarea class="textarea is-small" id="isiPengumuman" placeholder="isi pengumuman"></textarea>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
          <!-- TODO: Implement AJAX to add new deskripsi from jumlah tugas -->
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a class="button is-light" href="#" onclick="javascript:window.history.back(-1);return false;">Batal</a>
            </p>
            <p class="control">
              <a class="button is-primary" id="buatPengumuman">Buat Pengumuman</a>
            </p>
          </div>
        </div>
      </section>
      <!-- edit ini gan -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/navbarState.js}"></script>
      <script type="text/javascript" th:src="@{/js/buatPengumuman.js}"></script>
</body>
</html>