<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Pengumuman</title>
</head>
<body>
    <!-- Component Navbar -->
    <div th:replace="~{fragments/navbar :: navbar-rekruit}"></div>
      <!--  -->
      <section class="section">
        <p hidden id="idRekruitmen" th:text="${idRekruitmen}" class="align-content-center"></p>
        <div class="container">
        <h1 class="title">Pengumuman</h1>
        <!-- Level for Add and Filter -->
          <section id="dataPengumuman">
            <!-- Untuk append -->
          </section>
        </div>
      </section>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" th:src="@{/js/navbarState.js}"></script>
    <script type="text/javascript" th:src="@{/js/homepageAkun.js}"></script>
</body>
</html>